:host {
    height: 70vh;
    width: 60vw;
	display: grid;
	grid-template-columns: 0.2fr 1fr 1fr 1fr 0.2fr;
	grid-template-rows: 1fr 2fr 50pt;
	grid-column-gap: 0.1px;
	grid-row-gap: 15pt;
	grid-template-areas: " . header header header . " 
						". box box box ."
						" . footer footer footer . ";
	justify-items: center;
}

.viewingButton {
    margin-top: 10px;
}

.header {
   grid-area: header;
   justify-self: left;
	// background: #945385;
	width: 100%;
	height: 100%;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 20px;
}

.flexElement {
    grid-area: upperbox;
    margin-bottom: 1em;
    border: 0.5pt solid grey;
    width: 100%;
	height: 100%;
    text-align: center;
}

.footer {
	grid-area: footer;
    text-align: center;
    // display: inline-flex;
	width: 100%;
	height: 100%;
}