<form [formGroup]="propertyForm">
  <div class="container">
      <div class="header">
        <div *ngIf="test$ | async">

        </div>
          <div class="headerItem">
            <div class="heading">All properties</div>
            <mat-form-field>
              <mat-label>Choose a property</mat-label>
              <mat-select formControlName="property" [(ngModel)]="propertyObj.name">
                <mat-option *ngFor="let property of properties" [value]="propertyObj.name">
                  {{property.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
      
      
          <div class="headerItem">
            <div class="heading">All agents</div>
            <mat-form-field style="margin-left: 2em;">
              <mat-label>Choose an agent</mat-label>
              <mat-select formControlName="agent">
                <mat-option *ngFor="let agent of agents" [(value)]="agent">
                  {{agent.userName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      
      
        <div class="uppersmallbox">
          <div  id="calendar">
            <mat-calendar #calendar [(selected)]="selectedDate" (monthSelected)="monthSelected($event)"
              (selectedChange)="onDateChanged($event)"></mat-calendar>
          </div>
        </div>
        <div class="lowersmallbox">
            <ng-container>
                <app-next-viewing [selectedNodesUpdate]="appointmentChanged.asObservable()" ></app-next-viewing>
            </ng-container>
        </div>
        <div class="mainbox">
          <ng-container>
            <app-calendar-week-view id="scheduler" [selectedNodesUpdate]="appointmentChanged.asObservable()" [nodesIncoming]="selectedNodes" [appointments]="appointments" ></app-calendar-week-view>
          </ng-container>
        </div>
      
  </div>
</form>