<!-- <form > -->
    <!-- <div > -->
      <div class="header">
      <!-- <input class="headerItems" type="text" matInput [formControl]="myControl"> -->
  <mat-form-field>
      <input class="headerItems" type="text" matInput> 
  </mat-form-field>

    </div>
    <div class="uppersmallbox">
      <!-- <div class="calendar-wrapper">
        <mat-calendar #calendar [(selected)]="selectedDate" (monthSelected)="monthSelected($event)"
          (selectedChange)="onDateChanged($event)"></mat-calendar>
      </div> -->
      <!--date picker-->
      <!-- <input matInput [matDatepicker]="dp" placeholder="Verbose datepicker" [formControl]="date">
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker> -->
    </div>
    <div class="lowersmallbox">

    </div>
    <div class="mainbox">
       
        <!-- <ng-container *ngTemplateOutlet="calendarTemplate ? calendarTemplate : empty"></ng-container> -->
  
    </div>
    <div class="footer">

    </div>

    <!-- </div> -->
    

<!-- </form> -->