<div class="header">
    <mat-form-field>
        <mat-label>All properties</mat-label>
        <mat-select>
          <mat-option *ngFor="let property of properties" [value]="property.propertyName">
            {{property.propertyName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <mat-form-field style="margin-left: 2em;">
          <mat-label>All agents</mat-label>
          <mat-select>
            <mat-option *ngFor="let agent of agents" [value]="agent.name">
              {{agent.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

</div>
<div class="uppersmallbox">
    <div id="calendar">
      <mat-calendar #calendar [(selected)]="selectedDate" (monthSelected)="monthSelected($event)"
        (selectedChange)="onDateChanged($event)"></mat-calendar>
    </div>
</div>
<div class="lowersmallbox">

</div>
<div class="mainbox">
    <ng-container >
      <app-calendar-week-view id="scheduler"></app-calendar-week-view>
    </ng-container>
</div>
<div class="footer">
</div>

